In [8]:
import pandas as pd
import concurrent.futures
import urllib.request
from bs4 import BeautifulSoup
import requests
import glob
import pickle

In [2]:
score_url_dates = [2010,2011,2012,2013,2014,2015,2016,2017,2018,2019]
urls = []
for dat in score_url_dates:
    date = f'https://www.hockey-reference.com/leagues/NHL_{dat}_games.html'
    urls.append(date)
dfs = []
for url in urls:
    page = pd.read_html(url)
    dfs.append(page[0])
df = pd.concat([dfs[i] for i in range(len(dfs))])

In [3]:
df.columns = ['Date','Away','VG','Home','HG','OT','ATT','LOG','Notes']
results_df = df[['Date','Away','VG','Home','HG','OT','ATT']]

In [4]:
odds_date_list = []
for df in dfs:
    dates = list(df['Date'].unique())
    for date in dates:
        odds_date_list.append(date)

In [5]:
oddss = {}
for date in odds_date_list:
    broken = date.replace('-','')
    url = f'https://www.sportsbookreview.com/betting-odds/nhl-hockey/?date={broken}'
    oddss[date] = url

In [6]:
oddss_urls = []
for k,v in oddss.items():
    oddss_urls.append(v)
len(oddss_urls)

1690

In [9]:
existing_filed = [x for x in glob.glob('htmlFolder/*.html')]
def load_html(url):
    fullname = "htmlFolder\ "+ url.split('=')[1] + ".html"
    if fullname not in existing_filed:
        resp = requests.get(url)
        soup = BeautifulSoup(resp.text,"html.parser")
#         fullname = "htmlFolder\ "+ url.split('=')[1] + ".html"
        with open(fullname, 'w', encoding="utf-8") as f:
            f.write(str(soup))

with concurrent.futures.ThreadPoolExecutor(max_workers=6) as executor:
    # Start the load operations and mark each future with its URL
    future_to_url = {executor.submit(load_html, url): url for url in oddss_urls}
    for future in concurrent.futures.as_completed(future_to_url):
        url = future_to_url[future]
        try:
            data = future.result()
        except Exception as exc:  'a'
#             print('%r generated an exception: %s' % (url, exc))
        else:  'b'
#             print('%r page is %d bytes' % (url, len(data)))
# with open(fullname, 'w', encoding="utf-8") as f:
#     f.write(str(soup))

In [10]:
existing_files = [x for x in glob.glob('htmlFolder/*.html')]
z= []
list_o_dicts = {}
allGames = []
count = 0
for file in existing_files:
    date_pre = file.split('\\')[1].split('.')[0].split(' ')[1]
    date = date_pre[:4] + '-' + date_pre[4:6] + '-' + date_pre[6:]
    if date not in list_o_dicts.keys():
        list_o_dicts[date] = []
    with open(file, 'r', encoding='utf-8') as f:
        soup = BeautifulSoup(f, "html.parser")
        idk = soup.find_all('span',{'class':'opener'})
        idx = soup.find_all('span')
#     resp = requests.get(file)
#     soup = BeautifulSoup(resp.text,"html.parser")
#     idk = soup.find_all('span',{'class':'opener'})
        x = [str(i) for i in idk]
        x = [i for i in x if i!='<span class="opener">-</span>']
        c = 0
        l=[]
        #     final = []
        for i in x:
            val = i.split(">")[1].split("<")[0]
            if '%' not in val:
                l.append(val)
    #         l.append(val)
    #     print(l)
    #     idx = soup.find_all('span')
        idx = [str(i) for i in idx if 'class="_3O1Gx"' in str(i)]
        j = []
        for ik in idx:
            vals = ik.split('>')[1].split('<')[0]
            j.append(vals)
    #     print(j)
        aa = list(zip(j,l))
        mess = []
        for a in aa:
            z.append(a)
            c+=1
            if c%2==0:
                mess.append(z)
                z = []
        bigger_dict = []
        for mes in mess:
            away = mes[0][0]
            home = mes[1][0]
            h_odd = mes[1][1]
            a_odd = mes[0][1]
            smol_dict = {'Home':home,'Away':away,'H_odd':h_odd,"A_odd":a_odd}
            tempDict = smol_dict.copy()
            tempDict["Date"]= date
            allGames.append(tempDict)
            bigger_dict.append(smol_dict)
        list_o_dicts[date].extend(bigger_dict)
        pop = {date:bigger_dict}
        list_o_dicts[date] = bigger_dict
        count +=1
print(len(allGames))

11844

In [11]:
odds_df = pd.DataFrame(allGames)
odds_df.shape

(11844, 5)

In [13]:
odds_df["Home"] = odds_df["Home"].apply(lambda x: "Detroit" if x=="Unknown" else x)
odds_df[odds_df['Home']=='Unknown']

Empty DataFrame
Columns: [A_odd, Away, Date, H_odd, Home]
Index: []

In [16]:
odds_df["Away"] = odds_df["Away"].apply(lambda x: "Toronto" if x=="Unknown" else x)
odds_df[odds_df['Away']=='Unknown']

Empty DataFrame
Columns: [A_odd, Away, Date, H_odd, Home]
Index: []

In [18]:
team_names = list(results_df['Away'].unique())
city_names = list(odds_df['Away'].unique())

In [19]:
team_dict = {}
team_dict['Anaheim'] = 'Anaheim Ducks'
team_dict['Arizona'] = 'Arizona Coyotes'
team_dict['Boston'] = 'Boston Bruins'
team_dict['Buffalo'] = 'Buffalo Sabres'
team_dict['Calgary'] = 'Calgary Flames'
team_dict['Carolina'] = 'Carolina Hurricanes'
team_dict['Chicago'] = 'Chicago Blackhawks'
team_dict['Colorado'] = 'Colorado Avalanche'
team_dict['Columbus'] = 'Columbus Blue Jackets'
team_dict['Dallas'] = 'Dallas Stars'
team_dict['Detroit'] = 'Detroit Red Wings'
team_dict['Edmonton'] = 'Edmonton Oilers'
team_dict['Florida'] = 'Florida Panthers'
team_dict['Los Angeles'] = 'Los Angeles Kings'
team_dict['Minnesota'] = 'Minnesota Wild'
team_dict['Montreal'] = 'Montreal Canadiens'
team_dict['N.Y. Islanders'] = 'New York Islanders'
team_dict['N.Y. Rangers'] = 'New York Rangers'
team_dict['Nashville'] = 'Nashville Predators'
team_dict['New Jersey'] = 'New Jersey Devils'
team_dict['Ottawa'] = 'Ottawa Senators'
team_dict['Philadelphia'] = 'Philadelphia Flyers'
team_dict['Pittsburgh'] = 'Pittsburgh Penguins'
team_dict['San Jose'] = 'San Jose Sharks'
team_dict['St. Louis'] = 'St. Louis Blues'
team_dict['Tampa Bay'] = 'Tampa Bay Lightning'
team_dict['Toronto'] = 'Toronto Maple Leafs'
team_dict['Vancouver'] = 'Vancouver Canucks'
team_dict['Vegas'] = 'Vegas Golden Knights'
team_dict['Washington'] = 'Washington Capitals'
team_dict['Winnipeg'] = 'Winnipeg Jets'

In [20]:
rename_dict = {}
rename_dict['Anaheim Ducks'] = 'Anaheim Ducks'
rename_dict['Arizona Coyotes'] = 'Arizona Coyotes'
rename_dict['Atlanta Thrashers'] = 'Winnipeg Jets'
rename_dict['Boston Bruins'] = 'Boston Bruins'
rename_dict['Buffalo Sabres'] = 'Buffalo Sabres'
rename_dict['Calgary Flames'] = 'Calgary Flames'
rename_dict['Carolina Hurricanes'] = 'Carolina Hurricanes'
rename_dict['Chicago Blackhawks'] = 'Chicago Blackhawks'
rename_dict['Colorado Avalanche'] = 'Colorado Avalanche'
rename_dict['Columbus Blue Jackets'] = 'Columbus Blue Jackets'
rename_dict['Dallas Stars'] = 'Dallas Stars'
rename_dict['Detroit Red Wings'] = 'Detroit Red Wings'
rename_dict['Edmonton Oilers'] = 'Edmonton Oilers'
rename_dict['Florida Panthers'] = 'Florida Panthers'
rename_dict['Los Angeles Kings'] = 'Los Angeles Kings'
rename_dict['Minnesota Wild'] = 'Minnesota Wild'
rename_dict['Montreal Canadiens'] = 'Montreal Canadiens'
rename_dict['Nashville Predators'] = 'Nashville Predators'
rename_dict['New York Rangers'] = 'New York Rangers'
rename_dict['New York Islanders'] = 'New York Islanders'
rename_dict['Ottawa Senators'] = 'Ottawa Senators'
rename_dict['Philadelphia Flyers'] = 'Philadelphia Flyers'
rename_dict['Phoenix Coyotes'] = 'Arizona Coyotes'
rename_dict['Pittsburgh Penguins'] = 'Pittsburgh Penguins'
rename_dict['San Jose Sharks'] = 'San Jose Sharks'
rename_dict['St. Louis Blues'] = 'St. Louis Blues'
rename_dict['Tampa Bay Lightning'] = 'Tampa Bay Lightning'
rename_dict['Toronto Maple Leafs'] = 'Toronto Maple Leafs'
rename_dict['Vancouver Canucks'] = 'Vancouver Canucks'
rename_dict['Vegas Golden Knights'] = 'Vegas Golden Knights'
rename_dict['Washington Capitals'] = 'Washington Capitals'
rename_dict['Winnipeg Jets'] = 'Winnipeg Jets'
rename_dict['New Jersey Devils'] = 'New Jersey Devils'
set(list(team_dict.values())) == set(list(rename_dict.values()))

True

In [21]:
odds_df["Home"] = odds_df["Home"].apply(lambda x: team_dict[x])
odds_df["Away"] = odds_df["Away"].apply(lambda x: team_dict[x])
odds_df.head()

  A_odd                 Away        Date H_odd                 Home
0  +110   Montreal Canadiens  2009-10-01  -130  Toronto Maple Leafs
1  +115  Washington Capitals  2009-10-01  -135        Boston Bruins
2  -175      San Jose Sharks  2009-10-01  +155   Colorado Avalanche
3  +115    Vancouver Canucks  2009-10-01  -135       Calgary Flames
4  +140     Florida Panthers  2009-10-02  -160   Chicago Blackhawks

In [22]:
odds_sort = odds_df.sort_values(by=['Date','Home','Away'])

In [23]:
results_sorted = results_df.sort_values(by=['Date','Home','Away'])

In [24]:
roro = odds_sort.merge(results_sorted, left_on=['Date','Home'], right_on=['Date','Home'], how='inner')

endings = []
nan = 0
for row in roro.iterrows():
    if row[1][8] == 'OT':
        endings.append('OT')
    elif row[1][8] == 'SO':
        endings.append('SO')
    else: endings.append('REG')
roro['OT'] = endings
roro['Winner'] = roro['HG'] - roro['VG']
roro['Away_y'] = roro['Away_y'].apply(lambda x: rename_dict[x])
roro = roro.dropna()
roro.shape
winning_team = []
count = 0
for row in roro.iterrows():
    if row[1][10] < 0: 
        winning_team.append(row[1][5])
    elif row[1][10] > 0: 
        winning_team.append(row[1][4])
    else:
        print(row)
        count+=1
roro['Winner'] = winning_team
roro.head()

,A_odd,Away_x,Date,H_odd,Home,Away_y,VG,HG,OT,ATT,Winner
0,+115,Washington Capitals,2009-10-01,-135,Boston Bruins,Washington Capitals,4.0,1.0,REG,17565.0,Washington Capitals
1,+115,Vancouver Canucks,2009-10-01,-135,Calgary Flames,Vancouver Canucks,3.0,5.0,REG,19289.0,Calgary Flames
2,-175,San Jose Sharks,2009-10-01,+155,Colorado Avalanche,San Jose Sharks,2.0,5.0,REG,18007.0,Colorado Avalanche
3,+110,Montreal Canadiens,2009-10-01,-130,Toronto Maple Leafs,Montreal Canadiens,4.0,3.0,OT,19617.0,Montreal Canadiens
4,+100,Philadelphia Flyers,2009-10-02,-120,Carolina Hurricanes,Philadelphia Flyers,2.0,0.0,REG,18680.0,Philadelphia Flyers

In [25]:
# roro['Away_y'] = roro['Away_y'].apply(lambda x: rename_dict[x])
roro = roro[['Date','Home','H_odd','Away_y','A_odd','HG','VG','OT','ATT','Winner']]
roro.columns = ['Date','Home','Home_line','Away','Away_line','H_Goals','A_Goals','End','ATT','Winner']
roro['Home_line'] = roro['Home_line'].apply(lambda x: int(x))
roro['Away_line'] = roro['Away_line'].apply(lambda x: int(x))
roro.head()

,Date,Home,Home_line,Away,Away_line,H_Goals,A_Goals,End,ATT,Winner
0,2009-10-01,Boston Bruins,-135,Washington Capitals,115,1.0,4.0,REG,17565.0,Washington Capitals
1,2009-10-01,Calgary Flames,-135,Vancouver Canucks,115,5.0,3.0,REG,19289.0,Calgary Flames
2,2009-10-01,Colorado Avalanche,155,San Jose Sharks,-175,5.0,2.0,REG,18007.0,Colorado Avalanche
3,2009-10-01,Toronto Maple Leafs,-130,Montreal Canadiens,110,3.0,4.0,OT,19617.0,Montreal Canadiens
4,2009-10-02,Carolina Hurricanes,-120,Philadelphia Flyers,100,0.0,2.0,REG,18680.0,Philadelphia Flyers

In [27]:
home_returns = []
away_returns = []
count = 0
for row in roro.iterrows():
#     print(row[1][2])
#     print(row[1][4])
    if row[1][9] == row[1][1]:
        away_loss = 10
        away_returns.append(- away_loss)
        if row[1][2] > 0:
            wins = row[1][2]/10
            home_returns.append(round(wins,1))
        elif row[1][2] < 0:
            mult = (100/-(row[1][2]))
            wins = mult*10
            home_returns.append(round(wins,1))
            
    elif row[1][9] == row[1][3]:
        home_loss = -10
        home_returns.append(home_loss)
        if row[1][4] > 0:
            wins = row[1][4]/10
            away_returns.append(round(wins,1))
        elif row[1][4] < 0:
            mult = (100/-(row[1][4]))
            wins = mult*10
            away_returns.append(round(wins,1))
    else: print(row[1])
            

len(away_returns), len(home_returns), roro.shape

(11556, 11556, (11556, 10))

In [28]:
roro['H_returns'] = home_returns
roro['A_returns'] = away_returns
roro.head()

,Date,Home,Home_line,Away,Away_line,H_Goals,A_Goals,End,ATT,Winner,H_returns,A_returns
0,2009-10-01,Boston Bruins,-135,Washington Capitals,115,1.0,4.0,REG,17565.0,Washington Capitals,-10.0,11.5
1,2009-10-01,Calgary Flames,-135,Vancouver Canucks,115,5.0,3.0,REG,19289.0,Calgary Flames,7.4,-10.0
2,2009-10-01,Colorado Avalanche,155,San Jose Sharks,-175,5.0,2.0,REG,18007.0,Colorado Avalanche,15.5,-10.0
3,2009-10-01,Toronto Maple Leafs,-130,Montreal Canadiens,110,3.0,4.0,OT,19617.0,Montreal Canadiens,-10.0,11.0
4,2009-10-02,Carolina Hurricanes,-120,Philadelphia Flyers,100,0.0,2.0,REG,18680.0,Philadelphia Flyers,-10.0,10.0

In [46]:
# roro['Date'] = roro['Date'].apply(lambda x: f"{x.split('-')[1]}-{x.split('-')[2]}-{x.split('-')[0]}")
roro['H_returns'] = roro['H_returns'].apply(lambda x: float(x))
roro['A_returns'] = roro['A_returns'].apply(lambda x: float(x))
roro.head()

,Date,Home,Home_line,Away,Away_line,H_Goals,A_Goals,End,ATT,Winner,H_returns,A_returns
0,10-01-2009,Boston Bruins,-135,Washington Capitals,115,1.0,4.0,REG,17565.0,Washington Capitals,-10.0,11.5
1,10-01-2009,Calgary Flames,-135,Vancouver Canucks,115,5.0,3.0,REG,19289.0,Calgary Flames,7.4,-10.0
2,10-01-2009,Colorado Avalanche,155,San Jose Sharks,-175,5.0,2.0,REG,18007.0,Colorado Avalanche,15.5,-10.0
3,10-01-2009,Toronto Maple Leafs,-130,Montreal Canadiens,110,3.0,4.0,OT,19617.0,Montreal Canadiens,-10.0,11.0
4,10-02-2009,Carolina Hurricanes,-120,Philadelphia Flyers,100,0.0,2.0,REG,18680.0,Philadelphia Flyers,-10.0,10.0

In [63]:
# ml_df = roro[['Date','Home','Home_line','Away','Away_line','H_Goals','A_Goals','Winner']]
# ml_df['Home']= ml_df['Home'].apply(lambda x: ML_dict[x])
# ml_df['Away']= ml_df['Away'].apply(lambda x: ML_dict[x])
# ml_df['Winner']= ml_df['Winner'].apply(lambda x: ML_dict[x])
ml_df.head(10)
X = ml_df[['Date','Home','Home_line','Away','Away_line']]
y = ml_df[['Winner']]
X.shape, y.shape

((11556, 5), (11556, 1))

In [81]:
from datetime import datetime
# ml_df['Date'] = ml_df['Date'].apply(lambda x: datetime.strptime(x, '%m-%d-%Y'))
# ml_df['Date_month'] = ml_df['Date'].apply(lambda x: x.month)
# ml_df['Date_day'] = ml_df['Date'].apply(lambda x: x.day)
# ml_df['Date_year'] = ml_df['Date'].apply(lambda x: x.year)
# ml_df['Date_DOW'] = ml_df['Date'].apply(lambda x: x.weekday())

ml_df.head()

,Date,Home,Home_line,Away,Away_line,H_Goals,A_Goals,Winner,Date_month,Date_day,Date_year,Date_DOW
0,2009-10-01,3,-135,30,115,1.0,4.0,30,10,1,2009,3
1,2009-10-01,5,-135,28,115,5.0,3.0,5,10,1,2009,3
2,2009-10-01,8,155,24,-175,5.0,2.0,8,10,1,2009,3
3,2009-10-01,27,-130,16,110,3.0,4.0,16,10,1,2009,3
4,2009-10-02,6,-120,22,100,0.0,2.0,22,10,2,2009,4

In [93]:
# ml_df['Winner_score'] = ml_df['H_Goals'] - ml_df['A_Goals']
# ml_df.head()
# home_win = []
# for row in ml_df.iterrows():
#     if row[1][-1] > 0:
#         result = 1
#         home_win.append(1)
#     elif row[1][-1] < 0:
#         results = 0
#         home_win.append(results)
#     else: print(row[1][-1])
# len(home_win), ml_df.shape
ml_df['Home_win'] = home_win
ml_df.head()

,Date,Home,Home_line,Away,Away_line,H_Goals,A_Goals,Winner,Date_month,Date_day,Date_year,Date_DOW,Winner_score,Home_win
0,2009-10-01,3,-135,30,115,1.0,4.0,30,10,1,2009,3,-3.0,0
1,2009-10-01,5,-135,28,115,5.0,3.0,5,10,1,2009,3,2.0,1
2,2009-10-01,8,155,24,-175,5.0,2.0,8,10,1,2009,3,3.0,1
3,2009-10-01,27,-130,16,110,3.0,4.0,16,10,1,2009,3,-1.0,0
4,2009-10-02,6,-120,22,100,0.0,2.0,22,10,2,2009,4,-2.0,0

In [95]:
X = ml_df[['Date_month','Date_year','Date_day','Home','Home_line','Away','Away_line']]
y = ml_df[['Home_win']]

In [102]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [103]:
from sklearn.metrics import accuracy_score, log_loss
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC, NuSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

classifiers = [
    KNeighborsClassifier(3),
    SVC(kernel="rbf", C=0.025, probability=True),
    NuSVC(probability=True),
    DecisionTreeClassifier(),
    RandomForestClassifier(),
    AdaBoostClassifier(),
    GradientBoostingClassifier(),
    GaussianNB(),
    LinearDiscriminantAnalysis(),
    QuadraticDiscriminantAnalysis()]

# Logging for Visual Comparison
log_cols=["Classifier", "Accuracy", "Log Loss"]
log = pd.DataFrame(columns=log_cols)

for clf in classifiers:
    clf.fit(X_train, y_train)
    name = clf.__class__.__name__
    
    print("="*30)
    print(name)
    
    print('****Results****')
    train_predictions = clf.predict(X_test)
    acc = accuracy_score(y_test, train_predictions)
    print("Accuracy: {:.4%}".format(acc))
    
    train_predictions = clf.predict_proba(X_test)
    ll = log_loss(y_test, train_predictions)
    print("Log Loss: {}".format(ll))
    
    log_entry = pd.DataFrame([[name, acc*100, ll]], columns=log_cols)
    log = log.append(log_entry)
    
print("="*30)

C:\Users\Ryan\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d
C:\Users\Ryan\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
C:\Users\Ryan\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

==============================
KNeighborsClassifier
****Results****
Accuracy: 53.8249%
Log Loss: 4.625510122996609
==============================
SVC
****Results****
Accuracy: 53.6864%
Log Loss: 0.6906919279335931
==============================
NuSVC
****Results****
Accuracy: 54.0672%
Log Loss: 0.6907275723338133
==============================
DecisionTreeClassifier
****Results****
Accuracy: 53.9979%
Log Loss: 15.888554457887262

C:\Users\Ryan\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

==============================
RandomForestClassifier
****Results****
Accuracy: 53.7210%
Log Loss: 1.0056613440271178

C:\Users\Ryan\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

==============================
AdaBoostClassifier
****Results****
Accuracy: 58.4978%
Log Loss: 0.6921010674957746

C:\Users\Ryan\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

==============================
GradientBoostingClassifier
****Results****
Accuracy: 57.9093%
Log Loss: 0.6716192196980947
==============================
GaussianNB
****Results****
Accuracy: 59.0862%
Log Loss: 0.6946711401164277
==============================
LinearDiscriminantAnalysis
****Results****
Accuracy: 58.2901%
Log Loss: 0.6728320214727321
==============================
QuadraticDiscriminantAnalysis
****Results****
Accuracy: 58.4631%
Log Loss: 0.6821687065534014
==============================

In [104]:
clf = GradientBoostingClassifier()
clf.fit(X_train, y_train)

C:\Users\Ryan\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [105]:
train_predictions = clf.predict(X_test)
acc = accuracy_score(y_test, train_predictions)
print("Accuracy: {:.4%}".format(acc))

Accuracy: 57.8747%

In [147]:
probs1 = clf.predict_proba(X_test)[:,1]
probs0 = clf.predict_proba(X_test)[:,0]
probsgreat = probs1[probs1 > .62]
probsgreat1 = probs0[probs0 < .38]
probsgreat.shape, probsgreat1.shape

((637,), (637,))

In [126]:
y.Home_win.value_counts(normalize = True)

1    0.547248
0    0.452752
Name: Home_win, dtype: float64

In [129]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,clf.predict(X_test))

array([[ 513,  825],
       [ 392, 1159]], dtype=int64)

In [143]:
jeff = y_test.copy()

from collections import defaultdict

jeff['pred'] = clf.predict(X_test)

matrix = defaultdict(list)

for index, row, in jeff.iterrows():
    
    if row.Home_win == 1:
        if row.pred == 1:
            matrix['home_won'].append('home_won')
        else:
            matrix['home_won'].append('home_list')
    elif row.Home_win == 0:
        if row.pred == 0:
            matrix['home_lost'].append('home_list')
        else:
            matrix['home_lost'].append('home_won')

In [145]:
from collections import Counter

{k: Counter(v) for k,v in matrix.items()}

{'home_lost': Counter({'home_list': 513, 'home_won': 825}),
 'home_won': Counter({'home_won': 1159, 'home_list': 392})}

In [135]:
clf.feature_importances_
X = ml_df[['Date_month','Date_year','Date_day','Home','Home_line','Away','Away_line']]

In [97]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data

### BEGIN SOLUTION
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

In [98]:

### BEGIN SOLUTION
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)
### END SOLUTION

In [99]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train_scaled, y_train_scaled)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [100]:
predictions = model.predict(X_test_scaled)
model.fit(X_train_scaled, y_train_scaled)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [101]:
predictions

array([[ 0.10499212],
       [ 0.02918523],
       [-0.27955596],
       ...,
       [ 0.08912782],
       [ 0.11350673],
       [ 0.27184328]])

In [56]:
ML_dict = {}
ML_dict['Anaheim Ducks'] = 1
ML_dict['Arizona Coyotes'] = 2
# rename_dict['Atlanta Thrashers'] = 'Winnipeg Jets'
ML_dict['Boston Bruins'] = 3
ML_dict['Buffalo Sabres'] = 4
ML_dict['Calgary Flames'] = 5
ML_dict['Carolina Hurricanes'] = 6
ML_dict['Chicago Blackhawks'] = 7
ML_dict['Colorado Avalanche'] = 8
ML_dict['Columbus Blue Jackets'] = 9
ML_dict['Dallas Stars'] = 10
ML_dict['Detroit Red Wings'] = 11
ML_dict['Edmonton Oilers'] = 12
ML_dict['Florida Panthers'] = 13
ML_dict['Los Angeles Kings'] = 14
ML_dict['Minnesota Wild'] = 15
ML_dict['Montreal Canadiens'] = 16
ML_dict['Nashville Predators'] = 17
ML_dict['New Jersey Devils'] = 18
ML_dict['New York Rangers'] = 19
ML_dict['New York Islanders'] = 20
ML_dict['Ottawa Senators'] = 21
ML_dict['Philadelphia Flyers'] = 22
# ML_dict['Phoenix Coyotes'] = 23
ML_dict['Pittsburgh Penguins'] = 23
ML_dict['San Jose Sharks'] = 24
ML_dict['St. Louis Blues'] = 25
ML_dict['Tampa Bay Lightning'] = 26
ML_dict['Toronto Maple Leafs'] = 27
ML_dict['Vancouver Canucks'] = 28
ML_dict['Vegas Golden Knights'] = 29
ML_dict['Washington Capitals'] = 30
ML_dict['Winnipeg Jets'] = 31
# rename_dict['New Jersey Devils'] = 'New Jersey Devils'

In [30]:
with open('project3_df.pkl', 'wb') as f:
    pickle.dump(roro, f, pickle.HIGHEST_PROTOCOL)

In [ ]:
# XGBOOST